# === File generati da compilazione ===
*.dll
*.pdb
*.ilk
*.ninja
*.log
*.o
*.a
*.lib
*.so
*.dylib
*.exe

# === Cartelle di build (Visual Studio / CMake) ===
out/
build/
[Cc]MakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# === IDE ===
.vs/                # Visual Studio 2022
.vscode/			# Visual Studio Code
.idea/              # CLion / JetBrains
*.vcxproj.user      # Configurazioni utente locali

# === Altri file temporanei ===
*.tmp
*.cache
*.swp
*.bak
